<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKlXbv-RskwP7U2Dk-t3hypCvqtyjvuK8</string>
	<key>GCM_SENDER_ID</key>
	<string>975701952630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krwd.GudiGunae.app</string>
	<key>PROJECT_ID</key>
	<string>gudigunae</string>
	<key>STORAGE_BUCKET</key>
	<string>gudigunae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975701952630:ios:2a739b0441a8e50241f757</string>
</dict>
</plist>